* {font-family: Arial;}

body, table {
 margin: 0;
 padding: 0;
}

h1, h2, h3, h4, h5, td, div, p {
	margin: 0 0 12px 10px;
	padding: 0;
}

ul {margin: 0 0 18px 40px;}

ul li ul {margin: 0 0 0 20px;}

td h1, td h2, td h3, td h4, td h5, td div, td p {
	margin: 0 10px 12px 10px;
	padding: 0;
}

.localNavTxt {
	font : normal 11px Arial, Helvetica, sans-serif;
}

.clerkFormBg {
	background-color: #eee;
}

.clerkLeftCol {
	border-right: 1px solid #000066;
	font-size: 11px;
}

h1 {
	font-size: 2em;
	margin-bottom: 12px;
}
h2 {
	font-size: 1.5em;
	margin-bottom: 12px;
}
h3 {
	font-size: 1.3em;
	margin-bottom: 12px;
}
#dispositionesd {
	width:75%;
	margin-left:10px;
}
#dispositionesd h2 {
	margin:10px;
}
td.leftCol {
 background-color:#f7f7f7;
 border-right:1px solid #000066;
 padding:5px;
 vertical-align:top;
}
td.leftCol h3 {
 background:#ccc;
 color:black;
 font-size:1em;
 margin:0 0 3px;
 padding:3px;
}
td.leftCol ul {
 margin: 0 0 20px;
 padding:0;
}
td.leftCol li {
 background:url("/graphics/bulletie.gif") no-repeat 0 2px transparent;
 list-style-type:none;
 margin:3px 5px 0 0;
 padding: 0 0 0 15px;
}
ul#localTopNav, ul#localBottomNav {
 margin:0;
 padding:0 0 5px 0;
 text-align:center;
 font-size:11px;
}
ul#localTopNav li, ul#localBottomNav li {
 display:inline;
}
ul#localBottomNav {
 margin-top:10px;
}
